
@tailwind base;
@tailwind components;
@tailwind utilities; 

@layer base{
    .hollywood{
        font-family: bodega-sans, sans-serif;
        font-weight: 500;
        font-style: normal;
    }
    .buttonfont{
        font-family: raleway, sans-serif;
        font-weight: 400;
        font-style: normal;
    }
    .card {
       
        background-color:rgba(0,0,0,.6);
        border-radius: .5rem;
        padding: 1rem 3rem 4rem 3rem;
        max-width: 400px;
        margin:auto;
        animation: fade 250ms ease-in-out forwards;
        display:none;
      }
     
      .header-text{
          font-size:4em;
          
      }
      .container{
          min-height:100vh;
          min-width:100%;
      }
      .labeltext{
          color:white;
          font-size:1.6em;
          margin: 1rem 0;
      }
      .form-group {
        display: flex;
        flex-direction: column;
        margin-bottom: .5rem;
        gap: .25em;
      }
      
      .form-group:last-child {
        margin: 0;
      }
      
      .form-group > label {
        font-weight: bold;
       
        
      }
      
      

      .form-group > input {
        border: 1px solid #333;
        border-radius: .25em;
        font-size: 1rem;
        padding: .25em;
      }
      
      .step-title {
        margin: 0;
        margin-bottom: 1rem;
        text-align: center;
      }
      
      .card.active {
        animation: slide 250ms 125ms ease-in-out both;
        margin-top:0!important;
        display:block;
      }
      
      .multi-step-form {
        overflow: hidden;
        /* position: relative; */
        width:100%;
        display:block;
      }
      
      .hide {
        display: none;
        width:auto;
      }
      
      @keyframes slide {
        0% {
          transform: translateX(200%);
          opacity: 0;
        }
        100% {
          transform: translateX(0);
          opacity: 1;
        }
      }
      
      @keyframes fade {
        0% {
          transform: scale(1);
          opacity: 1;
        }
        50% {
          transform: scale(.75);
          opacity: 0;
        }
        100% {
          opacity: 0;
          transform: scale(0);
        }
      }

      /*STRIPE CHECKOUT CSS*/
      #payment-form {
        width: 30vw;
        min-width: 500px;
        align-self: center;
        box-shadow: 0px 0px 0px 0.5px rgba(50, 50, 93, 0.1),
          0px 2px 5px 0px rgba(50, 50, 93, 0.1), 0px 1px 1.5px 0px rgba(0, 0, 0, 0.07);
        border-radius: 7px;
        padding: 40px;
      }
      
      .hidden {
        display: none;
      }
      
      #payment-message {
        color: rgb(105, 115, 134);
        font-size: 16px;
        line-height: 20px;
        padding-top: 12px;
        text-align: center;
      }
      
      #payment-element {
        margin-bottom: 24px;
      }
      
      /* Buttons and links */
      #payment-form > button {
        background: #5469d4;
        font-family: Arial, sans-serif;
        color: #ffffff;
        border-radius: 4px;
        border: 0;
        padding: 12px 16px;
        font-size: 16px;
        font-weight: 600;
        cursor: pointer;
        display: block;
        transition: all 0.2s ease;
        box-shadow: 0px 4px 5.5px 0px rgba(0, 0, 0, 0.07);
        width: 100%;
      }
      button:hover {
        filter: contrast(115%);
      }
      button:disabled {
        opacity: 0.5;
        cursor: default;
      }
      
      /* spinner/processing state, errors */
      .spinner,
      .spinner:before,
      .spinner:after {
        border-radius: 50%;
      }
      .spinner {
        color: #ffffff;
        font-size: 22px;
        text-indent: -99999px;
        margin: 0px auto;
        position: relative;
        width: 20px;
        height: 20px;
        box-shadow: inset 0 0 0 2px;
        -webkit-transform: translateZ(0);
        -ms-transform: translateZ(0);
        transform: translateZ(0);
      }
      .spinner:before,
      .spinner:after {
        position: absolute;
        content: "";
      }
      .spinner:before {
        width: 10.4px;
        height: 20.4px;
        background: #5469d4;
        border-radius: 20.4px 0 0 20.4px;
        top: -0.2px;
        left: -0.2px;
        -webkit-transform-origin: 10.4px 10.2px;
        transform-origin: 10.4px 10.2px;
        -webkit-animation: loading 2s infinite ease 1.5s;
        animation: loading 2s infinite ease 1.5s;
      }
      .spinner:after {
        width: 10.4px;
        height: 10.2px;
        background: #5469d4;
        border-radius: 0 10.2px 10.2px 0;
        top: -0.1px;
        left: 10.2px;
        -webkit-transform-origin: 0px 10.2px;
        transform-origin: 0px 10.2px;
        -webkit-animation: loading 2s infinite ease;
        animation: loading 2s infinite ease;
      }
      
      @-webkit-keyframes loading {
        0% {
          -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
        }
        100% {
          -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
        }
      }
      @keyframes loading {
        0% {
          -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
        }
        100% {
          -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
        }
      }
      
      @media only screen and (max-width: 600px) {
        form {
          width: 80vw;
          min-width: initial;
        }
      }
}